<h1>Register</h1>
<form [formGroup] = "registrationForm" (ngSubmit)="registerNewUser()">
    <table>
        <tr>
            <td><label>First Name</label></td>
            <td><input [class.is-invalid] = "registrationForm.get('first_name').invalid && registrationForm.get('first_name').touched" id="first_name" class="form-control" formControlName="first_name" required></td>
            <td>
                <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)"
                class="text-danger">
                    <div *ngIf="first_name.errors.required">
                        First Name is required.
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label>Last Name</label></td>
            <td><input [class.is-invalid] = "registrationForm.get('last_name').invalid && registrationForm.get('last_name').touched" id="last_name" type="text" class="form-control" formControlName="last_name" required></td>
            <td>
                <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
                class="text-danger">
                    <div *ngIf="last_name.errors.required">
                        Last Name is required.
                    </div>
                </div>
            </td>
        </tr>
        
        <tr>
            <td><label>Email Address</label></td>
            <td><input [class.is-invalid] = "registrationForm.get('email').invalid && registrationForm.get('email').touched" id="email" type="text" class="form-control" formControlName="email" required></td>
            <td>
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="text-danger">
                    <div *ngIf="email.errors.required">
                        Email Address is required.
                    </div>
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="text-danger">
                    <div *ngIf="email.errors.pattern">
                        Please enter a valid email address.
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input [class.is-invalid] = "registrationForm.get('password').invalid && registrationForm.get('password').touched" id="password" type="password" class="form-control" formControlName="password" required></td>
            <td>
                <div *ngIf="(password.invalid && (password.dirty || password.touched)) "
                class="text-danger">
                    <div *ngIf="password.errors.required">
                        Password is required.
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label>Confirm Password</label></td>
            <td><input [class.is-invalid] = "registrationForm.get('password_conf').invalid && registrationForm.get('password_conf').touched" id="password_conf" type="password" class="form-control" formControlName="password_conf"></td>
            <td>
                <div *ngIf="(password_conf.invalid && (password_conf.dirty || password_conf.touched)) "
                class="text-danger">
                    <div *ngIf="password_conf.errors.required">
                        Please confirm your password
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" (click)="registerNewUser()" value="Register!"></td>
        </tr>
        <tr>
            <td></td>
            <td><a routerLink="/logon">Already have an account?</a></td>
        </tr>
    </table>
</form>