<h1>Your Weight Log</h1>
<h3> Current Log</h3>
<div class="row">

    <table border='1' style="border-collapse: collapse; width: auto;">
        <tr>
        <th>Weight</th>
        <th>Date Weightd</th>
        </tr>

        <tr *ngFor="let weight of weights">
          <td>{{ weight.weight }}</td>
          <td>{{ weight.date.toLocaleTimeString('en', {year: 'numeric', month: 'short', day: 'numeric'}) }}</td>
        </tr>
    </table>

    <div *ngIf="chart" class="d-none d-sm-block col-md-8 col-lg-7 col-xl-6">
        <canvas id="canvas">{{ chart }}</canvas>
    </div>
</div>
<br>
<h3>New Goals</h3>
<form [formGroup] = "weightForm" (ngSubmit)="submitEntry()">
    <table border='0' width='35%' style='border-collapse: collapse; margin-left: 5%;'>
        <tr>
            <td><label>New Weight Entry</label></td>
        </tr><tr>
            <td><input [class.is-invalid] ="weightForm.get('newWeight').invalid && weightForm.get('newWeight').touched" type="text" id="newWeight" class="form-control" formControlName="newWeight" required></td>
            <td>
                <div *ngIf="newWeight.invalid && (newWeight.dirty)" class="text-danger">
                </div>
                <div *ngIf="newWeight.invalid && (newWeight.dirty)" class="text-danger">
                    <div *ngIf="newWeight.errors.min || newWeight.errors.max">
                        Please input a between 40 & 1000
                    </div>
                </div>
            </td>
        </tr><tr>
            <td><label>Date Weighed</label></td>
        </tr><tr>
            <td><input type="date" id="newDate" class="form-control" formControlName="newDate" required></td>
            <td>
            </td>
        </tr><tr>
            <td><input type="button" (click)="submitEntry()"
                value="Submit" class=""></td>
        </tr>
    </table>
</form>

